.flexbox {
  display: flex;
  --wrap: wrap;
  flex-wrap: var(--wrap);
  --dir: row;
  flex-direction: var(--dir);
  --inner-spacing: 0;
  --inner-div-spacing: 0;
}
.container {
  padding: 5px;
}
.container-grid {
  background-color: #fff;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-gap: 5px;
  overflow-x: auto;
}
body {
  height: 1000vh;
}
adu {
  align-items: stretch;
}
